<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531379691674-b79v0gvs0oajhh3gflqs533bntqoe2co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531379691674-b79v0gvs0oajhh3gflqs533bntqoe2co</string>
	<key>API_KEY</key>
	<string>AIzaSyAAF-Sk6A9kJQh3Uem5rDffnEn0ikFgOXc</string>
	<key>GCM_SENDER_ID</key>
	<string>531379691674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QSAR.CosmicClash.CosmicClash</string>
	<key>PROJECT_ID</key>
	<string>cosmicclash-670a7</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmicclash-670a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531379691674:ios:287b4c9cb21f331d16bf23</string>
</dict>
</plist>